body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #e8eadd;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #041520b1;
}

.quote {
    margin-top: 20px;
}

#generate-button {
    background-color: #709291;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#generate-button:hover {
    background-color: #456c95d0;
}

#quote-text {
    font-size: 18px;
    margin: 20px 0;
}
